<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.histler.weather">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".WeatherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.FragmentWrapperActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="com.histler.appbase.util.robospice.LocalSpiceService"
            android:exported="false" />
        <service
            android:name="com.octo.android.robospice.UncachedSpiceService"
            android:exported="false" />

        <!--todo make it sync throw adapter and get data from providers-->
        <provider
            android:name=".provider.WeatherProvider"
            android:authorities="com.histler.weather.synadapter"
            android:exported="false" />

        <service
            android:name=".sync.WeatherSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/weather_sync_adapter" />
        </service>
        <!-- This implements the account we'll use as an attachment point for our WeatherSyncAdapter. Since
             our WeatherSyncAdapter doesn't need to authenticate the current user, this account's implementation is largely empty.

             It's also possible to attach a WeatherSyncAdapter to an existing account provided by another
             package. In that case, this element could be omitted here. -->
        <service android:name="com.histler.common.accounts.GenericAccountService">
            <!-- Required filter used by the system to launch our account service. -->
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <!-- This points to an XMLf ile which describes our account service. -->
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
    </application>

</manifest>